# =============================
# macOS system files
# =============================
.DS_Store

# =============================
# IDE and virtual environments
# =============================
.idea/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================
# Build and package files
# =============================
pyLOCO.egg-info/
*.egg
*.egg-info

# =============================
# Temporary data, results, and logs
# =============================
analysis/
*.npz
*.npy
*.h5
*.zip
*.log
*.tmp
.ipynb_checkpoints/

# =============================
# Ignore all examples except PETRAIII
# =============================
/Examples/*
!/Examples/PETRAIII/
/Examples/PETRAIII/*.mat
!/Examples/PETRAIII/*.py
!/Examples/PETRAIII/*.ipynb
!/Examples/PETRAIII/data/
