# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# PETRA III generated output
Examples/PETRAIII/output/

# Generated debug output
**/output/debug/

**/output/jacobians/

