# Ignore geberated output
Examples/PETRAIII/output/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE settings
.idea/
.vscode/
.DS_Store
# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Generated output
Examples/PETRAIII/output/
# PETRA III output
Examples/PETRAIII/output/

# or, if you only want to ignore the logs:
Examples/PETRAIII/output/*logs*.txt
